input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=text],
input[type=email],
input[type=seach],
input[type=tel],
input[type=number],
select {
    height: 45px;
    border: 1px solid #e1e1e1;
    border-radius: $border-radius;
    padding: 10px 19px;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    outline: 0;
    font-size: 14px;
    transition: .12s box-shadow, .12s border-color;

    &::placeholder {
        color: #333;
    }

    &:not(.error):focus {
        border-color: $blue !important;
        box-shadow: 0 0 0 1px $blue;
    }

    &.error {
        border-color: #dd5656 !important;
    }
}

select {
    width: 100%;
}

.floating-input {
    position: relative;
    display: inline-block;
    cursor: text;

    &.focus {
        .floating-input {
            &__label {
                transform: translate(0, -10px);
                font-size: 12px;
            }

            &__input {
                padding-bottom: 0px;

                &::placeholder {
                    opacity: .5;
                }
            }
        }
    }

    &__label {
        display: block;
        background: #fff;
        position: absolute;
        top: 15px;
        left: 1px;
        right: 1px;
        padding: 0 19px;
        white-space: nowrap;
        z-index: 1;
        line-height: 1;
        font-size: 14px;
        transition: transform .25s ease,font-size .25s ease,-webkit-transform .25s ease;
    }
}