.select {
    position: relative;
    display: inline-block;

    &__current {
        line-height: 1;
        display: block;
        background: #ebebeb;
        border-radius: 3px;
        padding: 6px 35px 6px 15px;
        transition: .15s;
        cursor: pointer;
        position: relative;
        text-align: left;

        &:after {
            border: none;
            position: absolute;
            right: 15px;
            top: 9px;
            cursor: pointer;
            transform: rotate(90deg);
            width: 7px;
            height: 11px;
            outline: 0;
            transition: .1s transform;
            content: '';
            background: url('../img/icons/arrow-blue.png') no-repeat center;
        }

        &:hover {
            background-color: darken(#ebebeb, 3%);
        }
    }

    &__dropdown {
        background: #ebebeb;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        border-radius: 3px;
        z-index: 9999;
        min-width: 100%;
        overflow: hidden;

        li {
            padding: 6px 15px;
            font-size: 14px;
            cursor: pointer;
            line-height: 1;
            transition: .15s;
            white-space: nowrap;

            &:hover {
                background-color: darken(#ebebeb, 3%);
            }
        }
    }

    &.opened {
        .select {
            &__current {
                &:after {
                    transform: rotate(270deg);
                }
            }

            &__dropdown {
                display: block;
            }
        }
    }
    
}