<section class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">Строительные антисептики</a>
            </li>
        </ul>
    </div>
</section>

<section class="application-more">
    <div class="container">
        <div class="banner" style="background-color: #904040">
            <div class="banner__inner">
                <div class="banner__text">Антисептик «Картоцид-компаунд»<br> <span>для строительных организаций</span></div>

                <div class="banner__img">
                    <img src="img/balloons-2.png" alt="">
                </div>
            </div>
        </div>

        <div class="application-more__content">
            <p>Защита здания от биопоражения закладывается на этапе его строительства. Отличной профилактикой возникновения в будущем поражения строительного материала заболеваниями грибной и бактериальной природы является проведение антисептической обработки каменных, бетонных, кирпичных, деревянных поверхностей и конструкций.</p>
            <p>Во ФГУП «ГНЦ «НИОПИК» разработан профессиональный строительный антисептик «Картоцид-компаунд», который уже более десяти лет успешно применяется на строительстве объектов в Москве и Московской области.</p>
            <p>Антисептик «Картоцид-компаунд» эффективен для проведения комплексной биозащиты любых неметаллических материалов и изделий из них:<br>минеральные материалы: бетон, кирпич, камень, керамическая плитка, гипс, гипсокартонные плиты, штукатурка, и др.;<br>древесные материалы;<br>антисептик рекомендуется добавлять в водосовместимые покрывные материалы: штукатурки, лаки, краски и т.п.<br>«Картоцид-компаунд» рекомендован к применению как на внешних поверхностях зданий и сооружений, так и внутри помещений.</p>
            <p>Качество антисептика подтверждено сертификатами Госстандарта России и СЭС РФ.</p>
            <p>Строительный антисептик выпускается двух серий: «Каменный доктор» и «Древесный доктор». Рецептуры разных марок, входящих в соответствующие серии препарата «Картоцид-компаунд», отличаются сочетанием различных биологически активных компонентов и, соответственно, проявляют различный набор биоцидных свойств, вследствие чего, имеют предпочтительные области применения:</p>
            <p>Серия «Каменный доктор» - обладает фунгицидной и бактерицидной активностью. Предназначена для профилактики и лечения не деревянных строительных материалов (камень, бетон, кирпич, штукатурка, гипсокартон и т.п.)</p>
            <p>Серия «Древесный доктор» – обладает фунгицидной, бактерицидной, инсектицидной активностью (поражает и отпугивает вредных насекомых). Предназначена для профилактики и лечения пиломатериала, деревянных зданий и конструкций.</p>
        </div>
    </div>
</section>

<section class="section section--blue">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-img"><img src="img/balloons-2.png" alt=""></div>
            <div class="banner-text">
                <h2 class="title">Строительные антисептики</h2>
                <a href="#" class="btn">Перейти в катлог</a>
            </div>
        </div>
    </div>
</section>