<section class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">Дезинфицирующие стредства </a>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <div class="banner" style="background-color: #9e9cd5">
            <div class="banner__inner">
                <div class="banner__text">
                    Дезинфицирующие средства
                    <br>
                    <span>для всех видов отрасли</span>
                </div>

                <div class="banner__img">
                    <img src="img/balloons.png" alt="">
                </div>
            </div>

            <div class="banner__logo">
                <img src="img/logo1.png" alt="Архичистота">
            </div>
        </div>
    </div>
</section>

<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form action="">
                    <section class="filter-group">
                        <header class="filter-group__header">Области применения</header>

                        <div class="filter-group__inner">
                            <div class="checkbox-list">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Медицинские учреждения</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Стоматологии</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Ветеринарные учреждения</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Предприятия мясной и молочной промышленности</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Транспорт</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Салоны красоты, парикхмахерские</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>ДЕЗы, жилые дома, кондоминиумы</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Образовательные, детские учреждения</span>
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Учреждения общественного питания</span>
                                </label>
                            </div>
                        </div>
                    </section>
                </form>
            </div>

            <div class="col-lg-8">
                <div class="goods-list">
                    <div class="goods-card">
                        <div class="goods-card__img">
                            <a href="#">
                                <img src="img/pictures/alaminol.jpg" alt="Аламинол">
                            </a>
                        </div>
    
                        <div class="goods-card__descr">
                            <div class="goods-card__title">
                                <a href="#">АДС-521</a>
                            </div>
    
                            <p class="goods-card__short-info">
                                Готовое к применению высокоэффективное дезинфицирующее средство для стоматологии на основе глутарового альдегида и ЧАС.
                            </p>
    
                            <div class="goods-card__params">
                                <dl>
                                    <dt>Области применения</dt>
                                    <dd>стоматология, салоны красоты</dd>
                                </dl>
                                <dl>
                                    <dt>Уникальность</dt>
                                    <dd>Обладает бактерицидной, туберкулоцидной, фунгицидной и вирулицидной активностью</dd>
                                </dl>
                            </div>
    
                            <div class="goods-card__actions">
                                <div>
                                    <span class="goods-card__price">338 Р</span>
                                </div>
    
                                <button type="button" class="btn">В корзину</button>
                                <a href="#" class="btn btn--link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <!-- .goods-card -->
    
                    <div class="goods-card">
                        <div class="goods-card__img">
                            <a href="#">
                                <img src="img/pictures/alaminol.jpg" alt="Аламинол">
                            </a>
                        </div>
    
                        <div class="goods-card__descr">
                            <div class="goods-card__title">
                                <a href="#">АДС-521</a>
                            </div>
    
                            <p class="goods-card__short-info">
                                Готовое к применению высокоэффективное дезинфицирующее средство для стоматологии на основе глутарового альдегида и ЧАС.
                            </p>
    
                            <div class="goods-card__params">
                                <dl>
                                    <dt>Области применения</dt>
                                    <dd>стоматология, салоны красоты</dd>
                                </dl>
                                <dl>
                                    <dt>Уникальность</dt>
                                    <dd>Обладает бактерицидной, туберкулоцидной, фунгицидной и вирулицидной активностью</dd>
                                </dl>
                            </div>
    
                            <div class="goods-card__actions">
                                <div>
                                    <span class="goods-card__price">338 Р</span>
                                </div>
    
                                <button type="button" class="btn">В корзину</button>
                                <a href="#" class="btn btn--link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <!-- .goods-card -->
                </div>
            </div>
        </div>
    </div>
</main>

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-section__img">
                    <div>
                        <img src="img/about.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about about-section__txt">
                    <div class="about__text">
                        <h1>Заголовок H1</h1>
                        <p>
                            Ассортимент дезинфицирующих средств ФГУП «ГНЦ «НИОПИК», включающий свыше 10 наименований современных препаратов самого различного
                            состава, позволяет осуществлять круглогодичную ротацию дезинфицирующих средств, используемых
                            при профилактической и очаговой дезинфекции, не только в лечебно-профилактических учреждениях,
                            но и на предприятиях и учреждениях разного профиля, включая предприятия коммунально-бытового
                            обслуживания, общественного питания, торговли, а также учреждения образования, культуры, отдыха,
                            спорта.
                        </p>
                        <p>
                            Купить дезинфицирующие средства в розницу можно в нашем магазине в г.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>