<section class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">Дезинфицирующие стредства </a>
            </li>
            <li>АДС-521</li>
        </ul>
    </div>
</section>

<section class="section product-hero">
    <div class="container">
        <div class="row product-hero__main">
            <div class="col-lg-9 offset-lg-2">

                <div class="goods-card goods-card--main">
                    <div class="goods-card__img">
                        <a href="#">
                            <img src="img/pictures/alaminol.jpg" alt="Аламинол">
                        </a>
                    </div>

                    <div class="goods-card__right">
                        <header class="goods-card__header">
                            <div class="goods-card__name">АДС-521</div>
                            <div class="goods-card__short-descr">Готовый к применению раствор в стоматологии</div>
                        </header>

                        <p class="goods-card__descr">
                            <ul class="list">
                                <li>для дезинфекции стоматологических оттисков, зубопротезных заготовок из различных материалов,
                                    артикуляторов и других изделий</li>
                                <li>обладает бактерицидной, туберкулоцидной, фунгицидной и вирулицидной активностью</li>
                                <li>не изменяет форму обрабатываемых изделий</li>
                                <li>обладает хорошими моющими свойствами и легко смывается</li>
                            </ul>
                        </p>

                        <div class="goods-card__footer">
                            <div style="max-width: 200px">
                                <div class="select" style="max-width: 70px; margin-bottom: 20px">
                                    <div class="select__current">1л</div>

                                    <ul class="select__dropdown">
                                        <li data-price="338">1л</li>
                                        <li data-price="500">3л</li>
                                        <li data-price="1000">5л</li>
                                    </ul>
                                </div>
                                <span class="goods-card__price">338 Р</span>
                            </div>

                            <div>
                                <button type="button" class="btn" style="margin-bottom: 10px">В корзину</button>
                                <div class="goods-card__meneger">
                                    Связаться с менеджером по продажам можно по горячей линии:
                                    <strong>8 800 234 53 99</strong>
                                    <span>звонок по России бесплатный</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .goods-card -->

            </div>
        </div>

        <div class="row goods-service-wrap">
            <div class="col-lg-6">
                <div class="goods-service">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 text-center">
                            <img src="img/pictures/package.png" alt="">
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <h4 class="goods-service__title">Упаковка</h4>

                            <div class="goods-service__descr">
                                В 1-ой коробке:
                                <br> 1 л. канистр – 10 шт. (10 л.)
                                <br> 3 л. канистр – 4 шт. (12 л.)
                                <br> 0,2 л. флаконов – 20 шт. (4 л.)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="goods-service">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 text-center">
                            <img src="img/pictures/package-opt.png" alt="">
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <h4 class="goods-service__title">Оптовые цены</h4>

                            <div class="goods-service__descr">
                                <p>
                                    При заказе от 50 000 рублей действуют оптовые цены
                                </p>
                                <button class="btn" type="button">Запросить прайс-лист</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="goods-service warning-info">
                    <div class="row align-items-center">
                        <div class="col-md-4 text-center">
                            <img src="img/pictures/warning.png" alt="">
                        </div>
                        <div class="col-md-8">
                            <h4 class="goods-service__title">Остерегайтесь контрафакта!</h4>

                            <div class="goods-service__descr">
                                <p>В связи со случаями появления на рынке контрафактной продукции мы публикуем на ней признаки
                                    поддельной продукции и список недобросовестных поставщиков.</p>
                                <p>Забота о здоровье людей – основополагающая цель нашего с Вами бизнеса.</p>

                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--blue">
    <div class="container">
        <div class="product-features">

            <div class="product-feature">
                <div class="product-feature__name">Состав</div>
                <div class="product-feature__descr">Глутаровый альдегид 1%, алкилдиметилбензиламмоний хлорид 0,5%, функциональные добавки и краситель.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Консистенция, свойства</div>
                <div class="product-feature__descr">Прозрачная жидкость голубого цвета. pH средства 3,7 - 4,7.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Микробиология</div>
                <div class="product-feature__descr">Средство обладает бактерицидной, туберкулоцидной, фунгицидной и вирулицидной активностью.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Токсичность</div>
                <div class="product-feature__descr">Средство по параметрам острой токсичности ГОСТ 12.1.007-76 относится к 4 классу малоопасных веществ при однократном
                    внутрижелудочном и накожном действии.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Срок годности</div>
                <div class="product-feature__descr">Срок годности средства один год в невскрытой упаковке производителя; во вскрытой упаковке – не менее двух
                    месяцев до изменения внешнего вида.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Условия хранения</div>
                <div class="product-feature__descr">Средство хранят в закрытой таре в крытых складских помещениях при температуре от плюс 50С до плюс 250С.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Особенности и примечания</div>
                <div class="product-feature__descr">Средство может быть использовано в течение суток многократно. При изменении внешнего вида раствора (изменение
                    цвета, помутнение, появление хлопьев и т.п.) его следует заменить.</div>
            </div>

            <div class="product-feature">
                <div class="product-feature__name">Назначение</div>
                <div class="product-feature__descr">Для дезинфекции стоматологических оттисков, зубопротезных заготовок из разных материалов, коррозионностойких
                    артикулятов и слепочных ложек при инфекциях бактериальной (включая туберкулез), грибковой (кандидозы)
                    и вирусной этиологии в лечебно-профилактических учреждениях.</div>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="section__title">
            <h2>Документы по продукции</h2>
        </div>

        <ul class="docs">
            <li>
                <a href="#" target="_blank">
                    <img src="img/pdf-img.png" alt="">
                    <div class="name">Сертификат соответствия</div>
                    <div class="size">PDF, 5 МБ</div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="img/pdf-img.png" alt="">
                    <div class="name">Сертификат соответствия</div>
                    <div class="size">PDF, 5 МБ</div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="img/pdf-img.png" alt="">
                    <div class="name">Сертификат соответствия</div>
                    <div class="size">PDF, 5 МБ</div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="img/pdf-img.png" alt="">
                    <div class="name">Сертификат соответствия</div>
                    <div class="size">PDF, 5 МБ</div>
                </a>
            </li>
        </ul>

    </div>
</section>

<section class="section section--blue">
    <div class="container">

        <div class="product-request">
            <div class="row">
                <div class="col-md-3 order-md-1">
                    <div class="product-request__img">
                        <img src="img/balloon2.png" alt="">
                    </div>
                </div>
                <div class="col-md-7 offset-lg-1 order-md-0">
                    <header class="product-request__title">
                        <h3>АДС-521</h3>
                        <p>Оформите заявку на продукт в один клик</p>
                    </header>

                    <div class="product-request__form">
                        <form class="contact-form" action="">
                            <input type="text" placeholder="Ваше имя">
                            <input type="text" placeholder="Ваш телефон">

                            <button class="btn" type="submit">Отправить заявку</button>

                            <div class="contact-form__policy">
                                <label class="checkbox">
                                    <input type="checkbox" checked>
                                    <span>Я принимаю условия политики обработки персональных данных</span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="section">
    <div class="container">

        <div class="section__title">
            <h2>Другие продукты</h2>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                <div class="goods-list">
                    <div class="goods-card">
                        <div class="goods-card__img">
                            <a href="#">
                                <img src="img/pictures/alaminol.jpg" alt="Аламинол">
                            </a>
                        </div>

                        <div class="goods-card__right">
                            <header class="goods-card__header">
                                <div class="goods-card__name">
                                    <a href="#">АДС-521</a>
                                </div>
                            </header>

                            <p class="goods-card__descr">
                                Готовое к применению высокоэффективное дезинфицирующее средство для стоматологии на основе глутарового альдегида и ЧАС.
                            </p>

                            <div class="goods-card__params">
                                <dl>
                                    <dt>Области применения</dt>
                                    <dd>стоматология, салоны красоты</dd>
                                </dl>
                                <dl>
                                    <dt>Уникальность</dt>
                                    <dd>Обладает бактерицидной, туберкулоцидной, фунгицидной и вирулицидной активностью</dd>
                                </dl>
                            </div>

                            <div class="goods-card__footer">
                                <div>
                                    <span class="goods-card__price">338 Р</span>
                                </div>

                                <button type="button" class="btn">В корзину</button>
                                <a href="#" class="btn btn--link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <!-- .goods-card -->

                    <div class="goods-card">
                        <div class="goods-card__img">
                            <a href="#">
                                <img src="img/pictures/alaminol.jpg" alt="Аламинол">
                            </a>
                        </div>

                        <div class="goods-card__right">
                            <header class="goods-card__header">
                                <div class="goods-card__name">
                                    <a href="#">АДС-521</a>
                                </div>
                            </header>

                            <p class="goods-card__descr">
                                Готовое к применению высокоэффективное дезинфицирующее средство для стоматологии на основе глутарового альдегида и ЧАС.
                            </p>

                            <div class="goods-card__params">
                                <dl>
                                    <dt>Области применения</dt>
                                    <dd>стоматология, салоны красоты</dd>
                                </dl>
                                <dl>
                                    <dt>Уникальность</dt>
                                    <dd>Обладает бактерицидной, туберкулоцидной, фунгицидной и вирулицидной активностью</dd>
                                </dl>
                            </div>

                            <div class="goods-card__footer">
                                <div>
                                    <span class="goods-card__price">338 Р</span>
                                </div>

                                <button type="button" class="btn">В корзину</button>
                                <a href="#" class="btn btn--link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <!-- .goods-card -->
                </div>

            </div>
        </div>

    </div>
</section>