<section class="hero-slider-wrap">
    <div class="container">
        <div class="slider hero-slider">
            <div>
                <a href="#" class="hero-slide" style="background-color: #2d7753">
                    <div class="hero-slide__text">
                        При заказе от 20&nbsp;000 рублей
                        <span class="pink">доставка бесплатная</span>
                    </div>
                    <div class="hero-slide__img">
                        <img src="img/car.png" alt="">
                    </div>
                </a>
            </div>

            <div>
                <a href="#" class="hero-slide" style="background-color: #153c89">
                    <div class="hero-slide__text">
                        При заказе от 20&nbsp;000 рублей
                        <span class="pink">доставка бесплатная</span>
                    </div>
                    <div class="hero-slide__img">
                        <img src="img/car.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="section__title">
            <h2>Преимущества заказа в интернет-магазине</h2>
        </div>

        <div class="section__inner">
            <div class="features">
                <div class="feature-item">
                    <div class="feature-item__icon">
                        <img src="img/icons/delivery.png" alt="">
                    </div>
                    <div class="feature-item__descr">
                        <h3 class="feature-item__title">Быстрая доставка</h3>
                        <p class="feature-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

                <div class="feature-item">
                    <div class="feature-item__icon">
                        <img src="img/icons/from-manufacturer.png" alt="">
                    </div>
                    <div class="feature-item__descr">
                        <h3 class="feature-item__title">На прямую от производителя</h3>
                        <p class="feature-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

                <div class="feature-item">
                    <div class="feature-item__icon">
                        <img src="img/icons/diploma.png" alt="">
                    </div>
                    <div class="feature-item__descr">
                        <h3 class="feature-item__title">Сертифицированная продукция</h3>
                        <p class="feature-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

                <div class="feature-item">
                    <div class="feature-item__icon">
                        <img src="img/icons/percentage.png" alt="">
                    </div>
                    <div class="feature-item__descr">
                        <h3 class="feature-item__title">Оптовые скидки</h3>
                        <p class="feature-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section section--blue">
    <div class="container">

        <div class="section__title">
            <h2>Выберите нужный раздел</h2>
        </div>

        <div class="section__inner">
            <div class="row goods-section-wrap">
                <div class="col-md-6">
                    <a class="goods-section">
                        <div class="goods-section__img">
                            <img src="img/balloon2.png" alt="">
                        </div>
                        <span class="goods-section__name">Дезинфицирующие средства</span>
                    </a>
                </div>

                <div class="col-md-6">
                    <a class="goods-section">
                        <div class="goods-section__img">
                            <img src="img/balloon1.jpg" alt="">
                        </div>
                        <span class="goods-section__name">Строительные антисептики </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container">

        <div class="section__title">
            <h2>Имеем все необходимые сертификаты</h2>
        </div>

        <div class="slider docs-slider">
            <div class="col">
                <a href="img/doc.jpg" data-fancybox="images" class="doc-img">
                    <img src="img/doc.jpg" alt="">
                </a>
                <p>подпись</p>
            </div>

            <div class="col">
                <a href="img/doc.jpg" data-fancybox="images" class="doc-img">
                    <img src="img/doc.jpg" alt="">
                </a>
                <p>подпись 2</p>
            </div>

            <div class="col">
                <a href="img/doc.jpg" data-fancybox="images" class="doc-img">
                    <img src="img/doc.jpg" alt="">
                </a>
                <p>подпись 3</p>
            </div>

            <div class="col">
                <a href="img/doc.jpg" data-fancybox="images" class="doc-img">
                    <img src="img/doc.jpg" alt="">
                </a>
                <p>подпись 4</p>
            </div>
        </div>

    </div>
</section>

<div class="helper-banner">
    <div class="container">
        <div>
            <div class="helper-banner__descr">
                <div class="helper-banner__title">Не знаете какое дезинфицирующее средство подойдёт?</div>
                <div class="helper-banner__subtitle">Воспользуйтесь онлайн-помощником</div>
            </div>

            <div class="helper-banner__img">
                <img src="img/for-banner.png" alt="">
            </div>
        </div>

        <a href="#" class="btn">Перейти</a>
    </div>
</div>

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-section__img">
                    <div>
                        <img src="img/about.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about about-section__txt">
                    <div class="about__text">
                        <h1>Интернет-магазин дезинфицирующих средств и строительного антисептика</h1>
                        <h2 class="about__title">Информация о производителе и продавце</h2>
                        <p>
                            ФГУП «Государственный научный центр «Научно-исследовательский институт органических полупродуктов и красителей» - одно из
                            старейших научных учреждений России, организован 22 ноября 1931 года на базе
                            дореволюционного АО «Русско-Краска». Является ведущим институтом в области химии
                            и технологии тонкого органического синтеза России.
                        </p>
                        <p>
                            Сегодня ФГУП «ГНЦ «НИОПИК» – это современный научный центр, объединяющий Научно-исследовательский институт, Проектную часть
                            и Опытный завод. Все достижения института базируются на фундаментальных научных
                            результатах, полученных учеными НИОПИКа, и имеют большую социальную значимость.
                            Опытный завод ФГУП «ГНЦ «НИОПИК» в г. Долгопрудном производит продукцию, разработанную
                            сотрудниками Научно-исследовательского института. В его номенклатуру входят:
                            дезинфицирующие средства, строительные антисептики, фармацевтические препараты,
                            биологически активные добавки (БАД), катализатор окисления монооксида углерода,
                            красители, фоторезисты, оксиэтилированные продукты и изделия на основе сублимационной
                            термопечати (флаги, вымпелы, сувенирная продукция).
                        </p>
                        <p>
                            ООО "ТД "Новохим" город Томск - отдел продаж дезинфицирующих средств и антисептиков произведенных ФГУП "ГНЦ "НИОПИК".
                        </p>
                        <a href="#" class="about__link">Подробнее о производителе</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section info-blocks">
    <div class="container">

        <div class="section__title">
            <h2>Получите необходимую информацию</h2>
        </div>

        <div class="section__inner">
            <div class="row info-items-wrap">
                <div class="col-lg-3 col-md-6">
                    <div class="info-item">
                        <div class="info-item__icon"></div>
                        <div class="info-item__title">Информация о продукции</div>
                        <a class="info-item__btn btn btn--block" href="#">Перейти</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-item">
                        <div class="info-item__icon">
                            <img src="img/icons/percentage.png" alt="">
                        </div>
                        <div class="info-item__title">Оптовый прайс-лист</div>
                        <a class="info-item__btn btn btn--block" href="#">Перейти</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-item">
                        <div class="info-item__icon"></div>
                        <div class="info-item__title">Подобрать
                            <br> дезинфицирующее средство</div>
                        <a class="info-item__btn btn btn--block" href="#">Перейти</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-item">
                        <div class="info-item__icon"></div>
                        <div class="info-item__title">Выбрать нужный
                            <br> строительный антисептик</div>
                        <a class="info-item__btn btn btn--block" href="#">Перейти</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>