<header class="header">
    <div class="header__navbar">
        <div class="container">
            <nav class="navbar">
                <a href="#">Главная</a>
                <a href="#">Подбор дезсредства</a>
                <a href="#">Выбор антисептика</a>
                <a href="#">Расход антисептика</a>
                <a href="#">О компании</a>
                <a href="#">Новости</a>
                <a href="#">Отзывы</a>
                <a href="#">Сотрудничество</a>
                <a href="#">Доставка</a>
                <a href="#">Информация о продукции</a>
                <a href="#">Контакты</a>
            </nav>
        </div>
    </div>

    <div class="main-top">
        <div class="container">
            <button id="mobile-hamb" class="hamb main-top__hamb">
                <span class="hamb__item"></span>
                <span class="hamb__item"></span>
                <span class="hamb__item"></span>
            </button>

            <div class="main-top__left">
                <div class="main-top__logo">
                    <a href="/" class="logo">
                        <img src="img/logo.png" alt="Ниопик">
                        <span>Интернет-магазин продукции производителя "Ниопик"</span>
                    </a>
                </div>

                <button id="catalog-btn" class="btn catalog-btn" type="button">
                    <div class="catalog-btn__hamb hamb">
                        <span class="hamb__item"></span>
                        <span class="hamb__item"></span>
                        <span class="hamb__item"></span>
                    </div>

                    <span>Продукция</span>
                </button>
            </div>

            <div class="main-top__right">
                <div class="phone">
                    <a href="tel:88002345399">8 (800) 234 53 99</a>
                    <span class="phone__descr">Звонок по России бесплатный</span>
                </div>

                <button class="order-phone" data-fancybox data-src="#order-phone-modal" href="javascript:;">Заказать звонок</button>

                <button class="basket-btn">
                    <span class="basket-btn__label">Корзина</span>
                    <div class="basket-btn__count"><span>0</span></div>
                </button>
            </div>
        </div>
    </div>

    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="col-md-3 offset-md-1 categories__list">
                    <div class="categories-list">
                        <li data-id="category1">
                            <a href="#">Дезинфицирующие средства</a>
                        </li>
                        <li data-id="category2">
                            <a href="#">Строительные антисептики</a>
                        </li>
                    </div>
                </div>

                <div class="col-md-8 categories__items">
                    <ul class="category-items" data-target="category1">
                        <li>
                            <a href="#">АДС-521</a>
                        </li>
                        <li>
                            <a href="#">Акваминол</a>
                        </li>
                        <li>
                            <a href="#">Акваминол Форте</a>
                        </li>
                        <li>
                            <a href="#">Акваминол Спрей</a>
                        </li>
                        <li>
                            <a href="#">Аламинол</a>
                        </li>
                        <li>
                            <a href="#">Аламинол Плюс</a>
                        </li>
                        <li>
                            <a href="#">Ветосепт</a>
                        </li>
                        <li>
                            <a href="#">Альпинол</a>
                        </li>
                        <li>
                            <a href="#">Бианол</a>
                        </li>
                        <li>
                            <a href="#">Макси-Дез</a>
                        </li>
                        <li>
                            <a href="#">Макси-Дез М</a>
                        </li>
                        <li>
                            <a href="#">Макси-Септ Аква</a>
                        </li>
                        <li>
                            <a href="#">Макси-Септ</a>
                        </li>
                        <li>
                            <a href="#">Макси-Стерил</a>
                        </li>
                    </ul>

                    <ul class="category-items" data-target="category2">
                        <li>
                            <a href="#">Каменный доктор «Картоцид-компаунд Б1»</a>
                        </li>
                        <li>
                            <a href="#">Древесный доктор «Картоцид-компаунд В1»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>