<div id="mobile-menu" class="mobile-menu">
    <nav class="mobile-menu__nav">
        <ul>
            <li class="drop">
                <span>Дезинфицирующие средства</span>
                <ul class="mobile-menu__sub-nav">
                    <li>
                        <a href="#">АДС-521</a>
                    </li>
                    <li>
                        <a href="#">Акваминол</a>
                    </li>
                    <li>
                        <a href="#">Акваминол Форте</a>
                    </li>
                    <li>
                        <a href="#">Акваминол Спрей</a>
                    </li>
                    <li>
                        <a href="#">Аламинол</a>
                    </li>
                    <li>
                        <a href="#">Аламинол Плюс</a>
                    </li>
                    <li>
                        <a href="#">Ветосепт</a>
                    </li>
                    <li>
                        <a href="#">Альпинол</a>
                    </li>
                    <li>
                        <a href="#">Бианол</a>
                    </li>
                    <li>
                        <a href="#">Макси-Дез</a>
                    </li>
                    <li>
                        <a href="#">Макси-Дез М</a>
                    </li>
                    <li>
                        <a href="#">Макси-Септ Аква</a>
                    </li>
                    <li>
                        <a href="#">Макси-Септ</a>
                    </li>
                    <li>
                        <a href="#">Макси-Стерил</a>
                    </li>
                </ul>
            </li>
            <li class="drop">
                <span>Строительные антисептики</span>
                <ul class="mobile-menu__sub-nav">
                    <li>
                        <a href="#">Каменный доктор «Картоцид-компаунд Б1»</a>
                    </li>
                    <li>
                        <a href="#">Древесный доктор «Картоцид-компаунд В1»</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Подбор дезсредства</a>
            </li>
            <li>
                <a href="#">Выбор антисептика</a>
            </li>
            <li>
                <a href="#">Расход антисептика</a>
            </li>
            <li>
                <a href="#">О компании</a>
            </li>
            <li>
                <a href="#">Новости</a>
            </li>
            <li>
                <a href="#">Отзывы</a>
            </li>
            <li>
                <a href="#">Сотрудничество</a>
            </li>
            <li>
                <a href="#">Доставка</a>
            </li>
            <li>
                <a href="#">Информация о продукции</a>
            </li>
            <li>
                <a href="#">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="phone mobile-menu__phone">
        <a href="tel:88002345399">8 (800) 234 53 99</a>
        <span class="phone__descr">Звонок по России бесплатный</span>
    </div>
</div>