<div id="order-phone-modal" class="modal">
    <header class="modal__header">
        <div class="modal__title">Оставьте заявку на обратный звонок</div>
        <div class="modal__subtitle">Менеджер перезвонит в ближайшее время</div>
    </header>

    <form class="contact-form contact-form--center" style="max-width: 370px" action="">
        <input class="form-control" name="name" type="text" placeholder="Иван" label="Ваше имя">
        <input class="form-control phone-input" pattern="+7\([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" data-focused-always="true" value="+7 ("
            name="phone" type="tel" placeholder="+7 (921) 123-45-67" label="Ваш телефон">

        <button class="btn" type="submit">Заказать звонок</button>

        <div class="contact-form__policy">
            <label class="checkbox">
                <input name="policy" type="checkbox" checked>
                <span>Я принимаю условия
                    <a href="#" target="_blank">политики обработки персональных данных</a>
                </span>
            </label>
        </div>
    </form>
</div>

<div id="order-price-modal" class="modal">
    <header class="modal__header">
        <div class="modal__title">Оставьте заявку на оптовый <nobr>прайс-лист</nobr></div>
        <div class="modal__subtitle">Менеджер отправит его на Email</div>
    </header>

    <form class="contact-form contact-form--center" style="max-width: 370px" action="">
        <input class="form-control" name="name" type="text" placeholder="Иван" label="Ваше имя">
        <input class="form-control" name="email" type="email" placeholder="email@mail.ru" label="Ваш email">
        <input class="form-control phone-input" pattern="+7\([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" data-focused-always="true" value="+7 ("
            name="phone" type="tel" placeholder="+7 (921) 123-45-67" label="Ваш телефон">

        <button class="btn" type="submit">Заказать звонок</button>

        <div class="contact-form__policy">
            <label class="checkbox">
                <input name="policy" type="checkbox" checked>
                <span>Я принимаю условия
                    <a href="#" target="_blank">политики обработки персональных данных</a>
                </span>
            </label>
        </div>
    </form>
</div>