
<div id="order-phone-modal" class="modal">
    <header class="modal__header">
        <div class="modal__title">Оставьте заявку на обратный звонок</div>
        <div class="modal__subtitle">Менеджер перезвонит в ближайшее время</div>
    </header>

    <form class="contact-form contact-form--center" style="max-width: 370px" action="">
        <input type="text" placeholder="Ваше имя">
        <input type="text" placeholder="Ваш телефон">
    
        <button class="btn" type="submit">Заказать звонок</button>
    
        <div class="contact-form__policy">
            <label class="checkbox">
                <input type="checkbox" checked>
                <span>Я принимаю условия <a href="#" target="_blank">политики обработки персональных данных</a></span>
            </label>
        </div>
    </form>
</div>