
.header {
    &__navbar {
        background-color: #153c89;
        border-bottom: 1px solid #b7b7b7;
        padding: 8px 0;

        .hamb {
            display: none;
            cursor: pointer;
        }
    }    
}

.header.scroll {
    z-index: 1000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    .header__navbar {
        display: none;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        color: #fff;
        text-decoration: none;
        font: 300 14px $futura;
        padding: 4px;
        line-height: 1.1;
        
        &:hover {
            color: hsla(0,0%,100%,.8);
        }
    }
}

.hamb {
    width: 18px;
    height: 12px;
    box-sizing: border-box;
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    outline: 0;

    &__item {
        position: relative;
        display: block;
        width: 18px;
        height: 2px;
        transition: .3s;
        border-radius: 10px;
        background-color: #fff;
        box-sizing: border-box;

        &:not(:first-child) {
            margin-top: 3px;
        }
    }

    &.active {
        .hamb__item {
            &:first-of-type {
                transform: translateY(5px) translateZ(0) rotate(45deg);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                transform: translateY(-5px) translateZ(0) rotate(-45deg);
            }
        }
    }
}

.main-top {
    background-color: #f6f6f6;
    padding: 7px 0 10px;
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 9992;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__hamb {
        display: none;

        .hamb__item {
            background-color: $blue;
        }
    }

    &__left,
    &__right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        max-width: 470px;
        margin-right: 30px;
    }

    &__right {
        max-width: 600px;
        flex-shrink: 0;

        .order-phone {
            margin: 0 10px;
        }
    }

    &__logo {
        max-width: 270px;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: 0;

    img {
        width: 51px;
        height: auto;
        display: block;
    }

    span {
        display: inline-block;
        color: $blue;
        font: 14px $futura-book;
    }

    img + span {
        margin-left: 22px;
    }
}

.catalog-btn {
    position: relative;
    padding-left: 60px;
    padding-right: 20px;
    width: 170px;

    &__hamb {
        left: 15px;
        top: 50%;
        margin-top: -6px;
        position: absolute;
    }

    &.active {
        background-color: #fff;
        color: #2254aa;

        .hamb__item {
            background-color: #2254aa;
        }
    }
}

.phone {
    a {
        color: #333;
        font: 900 18px $futura;
        text-decoration: none;
        white-space: nowrap;
    }

    &__descr {
        display: block;
        color: #666;
    }
}

.order-phone {
    color: #d541b6;
    font-weight: bold;
    outline: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        color: darken(#d541b6, 8%);
        transition: color $easing-time ease-in-out;
    }
}

.basket-btn {
    transition: background $easing-time ease-in-out;
    background: #fff;
    border: 1px solid #eee;
    border-radius: $border-radius;
    height: 40px;
    padding: 7px 14px 7px 45px;
    cursor: pointer;
    color: #a6a6a6;
    display: flex;
    align-items: center;
    position: relative;
    outline: 0;
    width: 170px;
    
    &:before {
        content: '';
        position: absolute;
        width: 19px;
        height: 18px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/icons/basket.png') no-repeat center;
    }
    
    &:hover {
        color: #5b5b5b;
        background-color: #eee;

        .basket-btn__count {
            background-color: #ffffff;
        }
    }
    
    &:active {
        background-color: darken(#eee, 3%);
    }
    
    &__label {
        font-family: $futura;
        font-weight: 900;
        margin-right: 14px;
    }

    &__count {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        min-width: 32px;
        max-width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        line-height: 1;
        background: #ebebeb;
        border-radius: 15px;
        color: #a6a6a6;
        font: 500 14px $futura;
        transition: background $easing-time ease-in-out;

        span {
            display: block;
            position: relative;
            top: -1px;
        }
    }
}

.mobile-menu {
    position: fixed;
    z-index: 99991;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.12s;
    opacity: 0;
    visibility: hidden;
    top: 10px;

    &.opened {
        visibility: visible;
        opacity: 1;
        top: 0px;
    }

    &__nav ul {
        @extend .categories-list;

        a {
            font-size: 16px;
            padding: 9px 14px;

            &:hover {
                background: #f6f6f6;
            }
        }
    }

    &__nav {
        > ul > li {
            border-bottom: 1px solid #e7e8ea;
        }
    }

    &__arrow-btn {
        border: none;
        position: absolute;
        right: 4px;
        top: 0px;
        cursor: pointer;
        transform: rotate(90deg);
        width: 32px;
        height: 32px;
        outline: 0;
        transition: .1s transform;
        content: '';
        display: inline-block;
        background: url('../img/icons/arrow-blue.png') no-repeat center;
    }

    .drop {        
        position: relative;
        cursor: pointer;

        > a {
            font-weight: 300;
            color: #333333;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            outline: 0;
            cursor: pointer;

            &:hover {
                background: transparent;
            }
        }

        &.active {
            > a {
                font-weight: 600;
            }
            
            .mobile-menu__arrow-btn {
                transform: rotate(270deg);
            }
        }
    }

    &__sub-nav {
        padding-left: 20px !important;
        display: none;

        li {
            &:not(:last-child) {
                border-bottom: 1px solid #e7e8ea;
            }
        }
    }

    &__phone {
        text-align: center;
        padding: 20px 0 10px;
    }
}