@import "vars";

@media only screen and (max-width: 1230px) {
    .news {
        &__nav {
            &.scroll {
                right: 15px;
            }
        }
    }

    .selection {
        padding-right: 380px;
    }
    .selection-fix {
        min-width: 360px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
    .logo {
        span {
            display: none;
        }
    }
    
    .main-top {
        &__left {
            flex: initial;
            max-width: initial;
        }
    
        &__logo {
            margin-right: 30px;
        }

        .phone {
            &__descr {
                font-size: 14px;
            }
        }
    }

    .news {
        &__wrapper {
            padding-right: 420px;
        }

        &__nav {
            padding: 20px 10px;
            max-width: 400px;
        }
    }

    .docs {
        li {
            width: calc(100%/3 - 13.4px);

            &:nth-child(4n) {
                margin-right: 20px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    .checkbox-list.flex-3 {
        justify-content: space-between;

        li {
            width: calc(50% - 10px);
            margin-right: 0;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .navbar {
        justify-content: center;

        a {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .goods-section {
        &__name {
            font-size: 26px;
        }
    }

    .features {
        padding: 0;
    }

    .hero-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: initial;
        padding-bottom: 30px;

        &__text {
            max-width: 100%;
            text-align: center;
            margin-bottom: 25px;
        }

        &__img {
            position: static;
            transform: none;
            max-height: 200px;
            width: auto;
            text-align: center;
            display: block;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }
    }
    
    .helper-banner {
        height: 360px;

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 22px;
        }

        .container {            
            > div {
                padding-top: 80px;
            }
        }

        .btn {
            top: 240px;
        }
    }
}

@media only screen and (max-width: 768px) {

    .btn {
        font-size: 14px;
    }

    .header {
        &__navbar {
            display: none;
        }
    }

    .basket {
        padding: 30px 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .filter-btn {
        display: block;
        margin-bottom: 40px;
    }

    .goods-filters {
        &__inner {
            display: none;
            
        }
    }

    .goods-filters {
        .filter-buttons {
            display: flex;
        }

        &__submit {
            display: block;
        }
    }

    .goods-card {
        flex-direction: column;

        &__img {
            text-align: center;
            margin: 0 auto 20px;
        }

        &__header {
            text-align: center;
        }

        &__params {
            flex-direction: column;
            margin-top: -10px;

            dl {
                margin-top: 10px;
            }
        }

        &__tare {
            .select {
                margin: auto;
            }
        }

        &__footer {
            flex-direction: column;

            > div {
                margin: 0 0 20px;
                text-align: center;
            }
        }
    }

    .banner {
        margin: 0 -15px;

        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__text {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
            font-size: 22px;
        }

        &__img {
            max-width: 100%;
            text-align: center;

            img {
                max-height: 300px;
            }
        }

        &__logo {
            position: static;
            margin: 20px auto 0;
        }
    }

    .goods-service {
        > .row {
            width: initial;
        }

        &__descr {
            padding: 0 15px;
        }

        .btn {
            margin: auto;
            display: block;
        }

        &__title {
            margin-top: 3px;
            text-align: center;
        }
    }

    .product-request {
        &__title {
            text-align: center;
        }

        &__form {
            max-width: 480px;
            margin: auto;

            .contact-form__policy {
                margin: auto;
            }
        }
    }

    .product-feature {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

        &__name {
            padding-left: 0px;
            max-width: initial;
            margin-bottom: 10px;
        }
    }

    .docs-slider {
        padding: 0 40px;

        .slick-slide {
            img {
                max-width: 100%;
                width: auto;
                max-height: 300px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    body {
        padding-top: 88px;
    }

    .main-top {
        height: 88px;
        position: fixed;
        top: 0;
        width: 100%;

        &__hamb {
            display: inline-block;
        }

        &__logo {
            margin-right: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .container {
            justify-content: space-between;
            height: 100%;
        }

        .catalog-btn,
        .order-phone,
        .phone {
            display: none;
        }

        &__left {
            margin-right: 0;
        }

        &__right {
            max-width: initial;
            justify-content: flex-end;
        }
    }

    .basket-btn {
        background: transparent;
        border: none;
        width: initial;
        padding-right: 0;

        &:hover {
            background-color: transparent;
        }

        &__label {
            display: none;
        }
    }

    .logo {
        span {
            display: inline-block;
        }
    }

    .hero-slider-wrap {
        .container {
            padding: 0;
        }
    }

    .hero-slider {
        .slick-next {
            right: 10px;
        }
        
        .slick-prev {
            left: 10px;
        }
    }

    .slider {
        .slick-next,
        .slick-prev {
            width: 40px;
            height: 40px;
        }
    }

    .about-section__txt {
        text-align: center;
    }

    .about {
        h1.text {
            font-size: 14px;
        }

        &__title {
            font-size: 18px;
        }

        &__text p {
            font-size: 14px;
        }

        &__text-big {
            font-size: 16px;
        }

        &__link {
            font-size: 14px;
        }
    }

    .helper-banner {
        height: initial;
        padding: 30px 15px;
        text-align: center;

        .container {            
            > div {
                flex-direction: column;
                justify-content: center;
                padding: 0;
            }
        }

        &__descr {
            margin-bottom: 20px;
        }

        &__img {
            text-align: center;
            margin: auto;
            width: 100%;
            max-width: 380px;
        }

        &__title {
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        &__subtitle {
            font-size: 16px;
        }

        .btn {
            width: 100%;
            max-width: 380px;
            position: static;
        }
    }

    .goods-section {
        height: initial;
        padding: 30px 10px;

        &__img {
            min-width: 60px;
            flex: 20%;
            flex-shrink: 0;
            flex-grow: 0;
            position: static;
            margin-right: 30px;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__name {
            font-size: 18px;
            flex: 1;
        }
    }

    .navbar {
        display: none;
    }

    .section {
        padding: 30px 0;

        &__title {
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }
        }
    }

    .hero-slider-wrap {
        margin-top: 0;
    }

    .hero-slide {
        padding: 30px;
        &__text {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    .features {
        padding: 0;
        justify-content: center;

        .feature-item {
            flex: initial;

            &__icon {
                width: 65px;
                height: 65px;
            }

            &__title {
                font-size: 16px;
                margin-bottom: 10px;
            }

            &__text {
                font-size: 12px;
            }
        }
    }

    .info-item {
        &__title {
            font-size: 16px;
            margin-bottom: 15px;
        }

        &__item {
            margin-bottom: 15px;
        }
    }

    .footer {
        &__nav {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__partners {
            align-items: center;
            margin-bottom: 40px;
            margin-top: 20px;
        }
    }

    .footer-nav {
        &__title {
            margin-bottom: 12px;
        }
    }

    .footer-privacy {
        text-align: center;
    }

    .footer-contacts {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 600px;

            > div:first-child {
                margin-bottom: 10px;
            }
        }
    }

    .footer-info {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__about {
            margin-bottom: 25px;
            flex-direction: column;
            align-items: center;
        }

        &__company {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    .mobile-menu {
        top: 98px;
        height: calc(100vh - 88px);

        &.opened {
            top: 88px;
        }
    }

    .news {
        &__wrapper {
            padding-right: 0;
        }

        &__list {
            margin: 0 auto;

            li {
                padding: 15px 10px;
            }

            &-text {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        &__link {
            font-size: 14px;
        }

        &__date {
            font-size: 14px;
        }

        &__nav {
            position: static;
            max-width: 500px;
            margin: 15px auto 0;
            padding: 15px 10px;

            &-item {
                a {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        &__content {
            margin: 0 auto;

            img {
                max-height: 250px;
                margin: 0 auto 10px;
            }

            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    .docs {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
            width: calc(50% - 10px);
            margin-bottom: 20px;
            margin-right: 0 !important;

            a {
                .name {
                    font-size: 16px;
                    margin-top: 10px;
                }
                .size {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }

    .application-section {
        padding-bottom: 30px;
    }

    .application-more {
        &__content {
            margin-top: 20px;

            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    .banner-wrapper {
        display: block;

        .banner-img {
            width: 100%;
            margin-bottom: 20px;
        }

        .banner-text {
            width: 100%;
            text-align: center;

            .title {
                font-size: 18px;
                margin-bottom: 15px;
            }
            
            .btn {
                margin: 0 auto;
            }
        }
    }

    .preim-list {
        text-align: center;

        li {
            padding: 20px 10px;
            display: block;
        }

        &__title {
            width: 100%;
            margin-bottom: 15px;
            font-size: 16px;
        }

        &__text {
            width: 100%;
            text-align: left;

            p {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }

    .about__images {
        &:before {
            width: calc(100% - 70px);
            bottom: 60px;
            right: 35px;
        }

        ul {
            padding: 20px 20px 10px;
            justify-content: space-between;

            li {
                margin-right: 0;
                width: calc(50% - 10px);
                margin-bottom: 10px;
            }
        }
    }

    .selection {
        padding-right: 0;

        &__item {
            padding-left: 50px;
            margin-bottom: 30px;

            &-title {
                font-size: 18px;
            }

            &-number {
                width: 40px;
                height: 40px;
                top: -10px;
            }
        }
    }

    .selection-fix {
        width: 100%;
        min-width: auto;
        margin: 40px auto 0;
        position: static;
        padding: 0 10px;

        &-wrap {
            margin: 0 auto;
            padding: 20px 30px;

            &:before {
                left: 0;
                width: 100%;
            }
        }
    }

    .cooperation {
        &-wrap {
            display: block;
            padding: 30px 20px 80px;
            position: relative;
        }

        &-text {
            width: 100%;
            margin-bottom: 20px;
            padding: 0;

            h2 {
                font-size: 20px;
                margin-bottom: 0;
                text-align: center;
            }

            .btn {
                position: absolute;
                width: 100%;
                left: calc(50% - 100px);
                bottom: 30px;
            }
        }

        &-img {
            width: 100%;
        }

        &-list {
            li {
                margin-bottom: 20px;
            }

            &-icon {
                width: 50px;
                height: 50px;
            }

            &-text {
                width: calc(100% - 60px);
                font-size: 16px;
            }
        }
    }

    .delivery {
        &__item {
            display: block;

            &-img {
                width: 100%;
                margin-bottom: 20px;

                img {
                    margin: 0 auto;
                }
            }

            &-text {
                width: 100%;
                padding-top: 10px;
                padding-left: 50px;

                .number {
                    width: 40px;
                    height: 40px;
                }

                .title {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                ul {
                    padding-left: 10px;
                    margin-bottom: 10px;

                    li {
                        padding-left: 15px;
                        font-size: 14px;

                        &:before {
                            width: 6px;
                            height: 6px;
                            top: 5px;
                        }
                    }
                }
            }
        }
    }

    .contacts {
        &-section {
            padding-top: 0;
        }
        
        &__item {
            display: block;
            margin-bottom: 20px;
            padding-bottom: 10px;

            &-title {
                width: 100%;
                text-align: center;
                margin: 0 auto 20px;
                font-size: 16px;
            }

            &-text {
                width: 100%;
                font-size: 12px;
            }
        }
    }

    .thanks {
        height: calc(100vh - 90px);

        &-title {
            font-size: 22px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
        }
    }

    .error-section {
        padding: 50px 0;

        .error-title {
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }
    }

    .about-section {
        padding-top: 30px;
    }

    .table-section__content {
        h3, p {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .table-name {
            font-size: 12px;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .main-top {
        height: 70px;
    }

    .basket-list {
        &__item {
            margin-top: -20px;

            > div {
                flex: 50%;
                margin-top: 20px;
            }
        }
    }

    body {
        padding-top: 70px;
    }

    .goods-section {
        height: initial;
        padding: 30px 10px;
        flex-direction: column;

        &__img {
            flex: 1000%;
            margin-right: 0px;
            margin-bottom: 20px;

            img {
                max-height: 130px;
            }
        }

        &__name {
            text-align: center;
        }
    }

    .cover-type {
        flex-direction: column;
        align-items: center;

        &__img {
            margin-right: 0;
            margin-bottom: 10px;
        }

        &__descr {
            text-align: center;
        }
    }

    .mobile-menu {
        top: 80px;
        height: calc(100vh - 70px);

        &.opened {
            top: 70px;
        }
    }

    .logo {
        img {
            width: 40px;
        }

        span {
            line-height: 1.2;
            font-size: 12px;
        }

        img + span {
            margin-left: 15px;
        }
    }

    .news__nav {
        display: block;

        &-item {
            width: 100%;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                img {
                    max-height: 150px;
                }
            }
        }
    }

    .docs {
        display: block;

        li {
            width: 100%;
            margin: 0 auto 20px !important;
        }
    }

    .about__images {
        ul {
            display: block;

            li {
                width: 100%;
                margin: 0 auto 10px !important;
            }
        }
    }

    .selection__item {
        padding-left: 0;
        text-align: center;

        &-number {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto 15px;
        }

        form {
            margin: 0 auto;
        }

        .checkbox-list {
            text-align: left;
        }
    }

    .checkbox-list.flex-3 {
        display: block;

        li {
            width: 100%;
        }
    }

    .cooperation-list {
        display: block;

        li {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
