@import "vars";

@media only screen and (max-width: 1230px) {
    .news {
        &__nav {
            &.scroll {
                right: 15px;
            }
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
    .logo {
        span {
            display: none;
        }
    }
    
    .main-top {
        &__left {
            flex: initial;
            max-width: initial;
        }
    
        &__logo {
            margin-right: 30px;
        }

        .phone {
            &__descr {
                font-size: 14px;
            }
        }
    }

    .news {
        &__wrapper {
            padding-right: 420px;
        }

        &__nav {
            padding: 20px 10px;
            max-width: 400px;
        }
    }

    .reviews {
        li {
            width: calc(100%/3 - 13.4px);

            &:nth-child(4n) {
                margin-right: 20px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .navbar {
        justify-content: center;

        a {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .goods-section {
        &__name {
            font-size: 26px;
        }
    }

    .features {
        padding: 0;
    }

    .hero-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: initial;
        padding-bottom: 30px;

        &__text {
            max-width: 100%;
            text-align: center;
            margin-bottom: 25px;
        }

        &__img {
            position: static;
            transform: none;
            max-height: 200px;
            width: auto;
            text-align: center;
            display: block;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }
    }
    
    .helper-banner {
        height: 360px;

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 22px;
        }

        .container {            
            > div {
                padding-top: 80px;
            }
        }

        .btn {
            top: 240px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        &__navbar {
            display: none;
        }
    }

    .docs-slider {
        padding: 0 40px;
    }

    .main-top {
        height: 88px;

        &__hamb {
            display: inline-block;
        }

        &__logo {
            margin-right: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .container {
            justify-content: space-between;
            height: 100%;
        }

        .catalog-btn,
        .order-phone,
        .phone {
            display: none;
        }

        &__left {
            margin-right: 0;
        }

        &__right {
            max-width: initial;
            justify-content: flex-end;
        }
    }

    .basket-btn {
        background: transparent;
        border: none;
        width: initial;
        padding-right: 0;

        &__label {
            display: none;
        }
    }

    .logo {
        span {
            display: inline-block;
        }
    }

    .hero-slider-wrap {
        .container {
            padding: 0;
        }
    }

    .hero-slider {
        .slick-next {
            right: 10px;
        }
        
        .slick-prev {
            left: 10px;
        }
    }

    .slider {
        .slick-next,
        .slick-prev {
            width: 40px;
            height: 40px;
        }
    }

    .about-section__txt {
        text-align: center;
    }

    .helper-banner {
        height: initial;
        padding: 30px 15px;
        text-align: center;

        .container {            
            > div {
                flex-direction: column;
                justify-content: center;
                padding: 0;
            }
        }

        &__descr {
            margin-bottom: 30px;
        }

        &__img {
            text-align: center;
            margin: auto;
            width: 100%;
            max-width: 380px;
        }

        &__title {
            font-size: 28px;
        }
        
        &__subtitle {
            font-size: 22px;
        }

        .btn {
            width: 100%;
            max-width: 380px;
            position: static;
        }
    }

    .goods-section {
        height: initial;
        padding: 30px 10px;

        &__img {
            min-width: 60px;
            flex: 20%;
            flex-shrink: 0;
            flex-grow: 0;
        }

        &__name {
            font-size: 24px;
            flex: 1;
        }
    }

    .navbar {
        display: none;
    }

    .section {
        &__title {
            h2 {
                font-size: 28px;
            }
        }
    }

    .hero-slider-wrap {
        margin-top: 0;
    }

    .hero-slide {
        padding: 30px;
        &__text {
            font-size: 28px;
            margin-bottom: 40px;
        }
    }

    .features {
        padding: 0;
        justify-content: center;

        .feature-item {
            flex: initial;

            &__icon {
                width: 65px;
                height: 65px;
            }
        }
    }

    .footer {
        &__nav {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__partners {
            align-items: center;
            margin-bottom: 40px;
            margin-top: 20px;
        }
    }

    .footer-nav {
        &__title {
            margin-bottom: 12px;
        }
    }

    .footer-privacy {
        text-align: center;
    }

    .footer-contacts {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 600px;

            > div:first-child {
                margin-bottom: 10px;
            }
        }
    }

    .footer-info {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__about {
            margin-bottom: 25px;
            flex-direction: column;
            align-items: center;
        }

        &__company {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    .mobile-menu {
        top: 98px;
        height: calc(100vh - 88px);

        &.opened {
            top: 88px;
        }
    }

    .news {
        &__wrapper {
            padding-right: 0;
        }

        &__list {
            margin: 0 auto;

            li {
                padding: 15px 10px;
            }

            &-text {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        &__link {
            font-size: 14px;
        }

        &__date {
            font-size: 14px;
        }

        &__nav {
            position: static;
            max-width: 500px;
            margin: 15px auto 0;
            padding: 15px 10px;

            &-item {
                a {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        &__content {
            margin: 0 auto;

            img {
                max-height: 250px;
                margin: 0 auto 10px;
            }

            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    .reviews {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
            width: calc(50% - 10px);
            margin-bottom: 20px;
            margin-right: 0 !important;

            a {
                .name {
                    font-size: 16px;
                    margin-top: 10px;
                }
                .size {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .main-top {
        height: 70px;
    }

    .mobile-menu {
        top: 80px;
        height: calc(100vh - 70px);

        &.opened {
            top: 70px;
        }
    }

    .logo {
        img {
            width: 40px;
        }

        span {
            line-height: 1.2;
            font-size: 12px;
        }

        img + span {
            margin-left: 15px;
        }
    }

    .news__nav {
        display: block;

        &-item {
            width: 100%;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                img {
                    max-height: 150px;
                }
            }
        }
    }

    .reviews {
        display: block;

        li {
            width: 100%;
            margin: 0 auto 20px !important;
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
