@import "libs";
@import "vars";
@import "../fonts/futura/stylesheet";

%reset-list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
}

body {
    font: 16px $futura-book;
    color: #333;
    min-width: 320px;

    &.hide-scroll {
        overflow: hidden;
    }
}

a {
    color: $blue;
    text-decoration: none;
    transition: color $easing-time ease-out;

    &:hover {
        color: darken($blue, 5%)
    }

    &:active {
        color: darken($blue, 8%)
    }
}

.pink {
    color: $pink-color;
}

.container {
    max-width: 1230px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__inner {
        flex: 1;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: #000000;
            opacity: 0;
            visibility: hidden;
            z-index: 999;
        }
        
        &.overlay {
            position: relative;
            
            &:after {
                transition: opacity .1s ease-out;
                transition-delay: .05s;
                opacity: 0.6;
                visibility: visible;
            }
        }    
    }
}

@import "components";
@import "header";

.slider {
    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
        background-color: #eff3ff;
        border-radius: 50%;
        transition: background-color $easing-time;

        &:hover {
            background-color: darken(#eff3ff, 2%)
        }

        &:active {
            background-color: darken(#eff3ff, 3.5%)
        }

        &:before {
            content: '';
            width: 8px;
            height: 14px;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -7px;
        }
    }

    .slick-prev {
        left: 0;
        z-index: 99;

        &:before {
            margin-left: -5px;
            background-image: url('../img/icons/left-arrow1.png');
        }
    }

    .slick-next {
        right: 0;

        &:before {
            margin-left: -3px;
            background-image: url('../img/icons/right-arrow1.png');
        }
    }

    .slick-dots {
        li {
            margin: 0;
            width: 18px;
            height: 18px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            
            &.slick-active button {
                background-color: $blue;

                &:hover {
                    background-color: $blue;
                }
            }

            button {
                height: 10px;
                width: 10px;
                padding: 0;
                background-color: #e1e1e1;
                border-radius: 50%;
                transition: $easing-time background-color;

                &:hover {
                    background-color: darken(#e1e1e1, 5%);
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

.hero-slider-wrap {
    margin-top: 46px;
}

.hero-slider {
    max-height: 377px;
    overflow: hidden;

    &.slick-initialized {
        overflow: initial;
        max-height: initial;
    }

    .slick-prev,
    .slick-next {
        background-color: rgba(#fff, .24);

        &:hover {
            background-color: rgba(#fff, .35);
        }
    }

    .slick-prev {
        left: 30px;

        &:before {
            background-image: url('../img/icons/left-arrow.png');
        }
    }

    .slick-next {
        right: 30px;

        &:before {
            background-image: url('../img/icons/right-arrow.png');
        }
    }

    .slick-slide {
        outline: 0 !important;
    }
}

.hero-slide {
    background-color: #2d7753;
    color: #fff;
    font: 900 36px $futura;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 30px 115px;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        visibility: visible;
        content: "";
        transition: opacity .3s;
        opacity: 0;
        background: #fff;
    }

    &:hover {
        color: #ffffff;
    }

    &:hover:after {
        opacity: 0.15;
    }

    &.slick-slide {
        display: flex;
    }

    &__text {
        max-width: 570px;
        position: relative;
        z-index: 1;
    }

    &__img {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        height: 245px;
        display: flex;
        align-items: center;

        img {
            max-height: 100%;
            width: auto;
        }
    }
    
    .pink {
        color: #ffa6ec;
    }
}

.section {
    padding: 50px 0;

    &__title {
        text-align: center;
        margin-bottom: 45px;

        h2 {
            font-size: 36px;
            font-family: $futura; font-weight: 900;
            margin: 0;
        }
    }

    &--blue {
        background-color: #e5ecfe;
    }
}

.goods-section-wrap {
    margin-top: -25px;

    > div {
        margin-top: 25px;
    }

    .goods-section {
        height: 100%;
    }
}

.goods-section {
    background-color: #f6f6f6;
    padding: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 280px;
    overflow: hidden;
    position: relative;

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        visibility: visible;
        content: "";
        transition: opacity .3s;
        opacity: 0;
        background: #fff;
    }

    &:hover:after {
        opacity: 0.15;
    }

    &__img {
        max-width: 250px;
        display: flex;
        margin-right: 20px;
        min-width: 100px;

        img {
            max-height: 230px;
            width: 100%;
        }
    }

    &__name {
        font-size: 30px;
        font-family: $futura-book;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    padding: 0 70px 0 140px;

    .feature-item {
        flex: 50%;
        margin-top: 30px;
        padding-right: 30px;

        &__descr {
            max-width: 330px;
        }
    }
}

%circle-icon {
    border: 5px solid $blue;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 18px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.feature-item {
    display: flex;
    align-items: flex-start;

    &__icon {
        @extend %circle-icon;
    }

    &__title {
        margin: 0 0 15px;
        font-size: 20px;
        font-family: $futura; font-weight: 900;
        line-height: 1;
    }

    &__text {
        margin: 0;
        font: 14px $futura-book;
    }
}

.info-blocks {
    padding-bottom: 100px;
}

.info-items-wrap {
    margin-top: -40px;

    > div {
        margin-top: 40px;
    }
}

.info-item {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
    &__icon {
        @extend %circle-icon;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 18px;
        font-family: $futura; font-weight: 900;
        margin-bottom: 20px;
        flex: 1;
    }

    .btn {
        max-width: 320px;
        margin: auto;
    }
}

.docs-slider {
    padding: 0 100px;

    .slick-list {
        padding-top: 20px;
        margin-top: -20px;
    }

    .slick-slide {
        a {
            outline: 0 !important;
        }

        img {
            width: 100%;
            height: auto;
            margin: auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25)
        }
        
        p {
            text-align: center;
        }
    }
}

.helper-banner {
    height: 440px;
    background-color: #e5ecfe;

    .container {
        height: 100%;
        position: relative;
        
        > div {
            display: flex;
            align-items: flex-start;
            padding-top: 100px;
            justify-content: space-between;
            height: 100%;
        }
    }

    &__title,
    &__subtitle {
        max-width: 670px;
        font-family: $futura; font-weight: 900;
    }

    &__title {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 18px;
    }

    &__subtitle {
        font-size: 30px;
        // margin-bottom: 60px;
        color: #d64ab8;
    }

    &__img {
        img {
            width: 100%;
            height: auto;
        }
    }

    .btn {
        max-width: 200px;
        width: 100%;
        position: absolute;
        top: 300px;
    }
}

.about-section {
    padding-top: 75px;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        background-color: $blue;
        left: 0;
        right: calc(50% + 15px);
        height: 430px;
    }

    &__img {
        text-align: center;
        height: 430px;
        position: relative;
        float: right;
        margin-bottom: 40px;

        &:before {
            content: '';
            position: absolute;
            width: 365px;
            height: 470px;
            background-color: #e5ecfe;
            left: 35px;
            top: -20px;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            width: 345px;
            height: 450px;
            background-color: #fff;
            left: 45px;
            top: -10px;
            z-index: 2;
        }

        > div:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 470px;
            background-color: #e5ecfe;
            left: 35px;
            top: -20px;
            z-index: 4;
        }

        img {
            display: block;
            width: 100%;
            height: 430px;
            width: 540px;
            position: relative;
            z-index: 3;
            border: 15px solid $blue;;
        }
    }
}

.about {
    h1.text {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }

    h1 {
        font: 900 20px $futura;
        margin: 0 0 35px;
    }

    &__title {
        font-size: 20px;
        margin: 10px 0 0;
    }

    &__text {
        p {
            line-height: 1.3;
        }
    }

    &__link {
        font-weight: 900;
        font-family: $futura;

        &:before {
            width: 7px;
            height: 11px;
            margin-right: 9px;
            content: '';
            display: inline-block;
            background: url('../img/icons/arrow-blue.png') no-repeat center;
        }
    }
}

.categories {
    background-color: #f6f6f6;
    position: absolute;
    z-index: 9991;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.12), 
    0 9px 46px 0 rgba(0,0,0,.06);
    
    &.opened {
        transition: .1s transform ease-out;
        visibility: visible;
        opacity: 1;
        transform: translateY(0)
    }

    &__list {
        padding: 20px 0;
        min-width: 220px;
    }

    &__items {
        background-color: #ffff;
        padding: 24px 15px 24px 80px;
    }

    .category-items {
        display: none;

        &.active {
            display: block;
        }
    }
}

.categories-list,
.category-items {
    @extend %reset-list-style;
}

.categories-list {
    li {
        &.active {
            background-color: #fff;
            
            > a {
                font-weight: 600;
            }
        }
    }

    a {
        font-size: 14px;
        font-weight: 300;
        color: #333333;
        text-decoration: none;
        display: block;
        line-height: 1;
        padding: 7px 14px;
        outline: 0;
    }
}

.category-items {
    li {
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            width: 5px;
            height: 9px;
            display: inline-block;
            margin-right: 12px;
            background: url('../img/icons/arrow-pink.png') no-repeat center;
        }
    }

    a {
        font-size: 14px;
        font-weight: 300;
        color: #333333;
        line-height: 1;
        padding: 4px 0;
        text-decoration: none;
        outline: 0;
        display: block;
        flex: 1;

        &:hover {
            font-weight: 600;
        }
    }
}

.mobile-menu {
    position: fixed;
    z-index: 99999;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.12s;
    opacity: 0;
    visibility: hidden;
    top: 10px;

    &.opened {
        visibility: visible;
        opacity: 1;
        top: 0px;
    }

    &__nav ul {
        @extend .categories-list;

        a {
            font-size: 16px;
            padding: 9px 14px;

            &:hover {
                background: #f6f6f6;
            }
        }
    }

    &__nav {
        > ul > li {
            border-bottom: 1px solid #e7e8ea;
        }

    }

    .drop {        
        > span {
            font-weight: 300;
            color: #333333;
            text-decoration: none;
            display: block;
            line-height: 1;
            padding: 9px 14px;
            outline: 0;
            position: relative;
            cursor: pointer;

            &:hover {
                background: #f6f6f6;
            }

            &:after {
                position: absolute;
                right: 14px;
                width: 7px;
                height: 11px;
                transform: rotate(90deg);
                transition: .1s transform;
                content: '';
                display: inline-block;
                background: url('../img/icons/arrow-blue.png') no-repeat center;
            }
        }

        &.active {
            > span {
                font-weight: 600;

                &:after {
                    transform: rotate(270deg);
                }
            }
        }
    }

    &__sub-nav {
        padding-left: 20px !important;
        display: none;

        li {
            &:not(:last-child) {
                border-bottom: 1px solid #e7e8ea;
            }
        }
    }

    &__phone {
        text-align: center;
        padding: 20px 0;
    }
}

.breadcrumbs-wrap {
    padding: 16px 0;
}

.filter-group {
    &__header {
        font: 900 18px $futura;
        line-height: 1;
        margin-bottom: 20px;
    }
}

.checkbox-list {
    .checkbox {
        display: block;

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }
}

.banner {
    background-image: url('../img/banner-pattern.png');
    background-position: center;
    background-repeat: repeat;
    position: relative;
    padding: 15px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__text {
        font: 900 36px $futura;
        color: #fff;
        line-height: 1;
        max-width: 500px;
        padding: 45px;
        padding-right: 0;
        box-sizing: content-box;

        span {
            color: #8d1b43;
        }
    }

    &__img {
        max-width: 540px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__logo {
        position: absolute;
        right: 10px;
        bottom: 10px;
        max-width: 140px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.main-content {
    padding: 45px 0;
}

.goods-list {
    .goods-card {
        &:not(:last-child) {
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }
}

.goods-card {
    display: flex;
    flex-wrap: wrap;

    &__img {
        max-width: 200px;
        text-align: center;
        padding: 0 20px;
        margin-right: 30px;

        a {
            display: block;
            position: relative;

            &:after {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                visibility: visible;
                content: "";
                transition: opacity .3s;
                opacity: 0;
                background: #fff;
            }
        
            &:hover:after {
                opacity: 0.15;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__descr {
        flex: 1;
    }

    &__title {
        a {
            font: 900 18px $futura;
            color: #8d1b43;
        }
    }

    &__short-info {
        margin: 12px 0;
    }

    &__params {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        dl {
            margin: 0;
            padding: 0;
            flex: 1;

            &:first-child {
                max-width: 210px;
            }

            &:last-child {
                max-width: 310px;
            }

            dt {
                font: 900 14px $futura;
                display: block;
                line-height: 1;
                margin-bottom: 4px;

                &:after {
                    content: ':';
                }
            }

            dd {
                margin: 0;
                line-height: 1;
            }
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        > div {
            max-width: 170px;
            margin-right: 30px;
            flex: 1;
        }

        .btn {
            max-width: 170px;
            width: 100%;
        }
    }

    &__price {
        color: #da67a3;
        font: 900 25px $futura;
    }
}

@import "footer";
@import "media";
