@import "vars";
@import "libs";
@import "../fonts/futura/stylesheet";
@import "common";
@import "components";
@import "header";

.hero-slider-wrap {
    margin-top: 46px;
}

.hero-slider {
    max-height: 377px;
    overflow: hidden;

    &.slick-initialized {
        overflow: initial;
        max-height: initial;
    }

    .slick-prev,
    .slick-next {
        background-color: rgba(#fff, .24);

        &:hover {
            background-color: rgba(#fff, .35);
        }
    }

    .slick-prev {
        left: 30px;

        &:before {
            background-image: url('../img/icons/left-arrow.png');
        }
    }

    .slick-next {
        right: 30px;

        &:before {
            background-image: url('../img/icons/right-arrow.png');
        }
    }

    .slick-slide {
        outline: 0 !important;
    }
}

.hero-slide {
    background-color: #2d7753;
    color: #fff;
    font: 900 36px $futura;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 30px 115px;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        visibility: visible;
        content: "";
        transition: opacity .3s;
        opacity: 0;
        background: #fff;
    }

    &:hover {
        color: #ffffff;
    }

    &:hover:after {
        opacity: 0.15;
    }

    &.slick-slide {
        display: flex;
    }

    &__text {
        max-width: 570px;
        position: relative;
        z-index: 1;
    }

    &__img {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        height: 245px;
        display: flex;
        align-items: center;

        img {
            max-height: 100%;
            width: auto;
        }
    }
    
    .pink {
        color: #ffa6ec;
    }
}

.goods-section-wrap {
    margin-top: -25px;

    > div {
        margin-top: 25px;
    }
}

.goods-section {
    background-color: #f6f6f6;
    padding-left: 230px;
    padding: 30px 30px 30px 230px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 280px;
    overflow: hidden;
    position: relative;
    color: #333;

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        visibility: visible;
        content: "";
        transition: opacity .3s;
        opacity: 0;
        background: #fff;
    }

    &:hover:after {
        opacity: 0.15;
    }

    &__img {
        display: flex;
        position: absolute;
        left: 0;
        width: 230px;
        text-align: center;

        img {
            max-width: 100%;
            display: inline-block;
            margin: auto;
        }
    }

    &__name {
        font-size: 30px;
        line-height: 1.2;
        font-family: $futura-book;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    padding: 0 70px 0 140px;

    .feature-item {
        flex: 50%;
        margin-top: 30px;
        padding-right: 30px;

        &__descr {
            max-width: 330px;
        }
    }
}

.feature-item {
    display: flex;
    align-items: flex-start;

    &__icon {
        @extend %circle-icon;
    }

    &__title {
        margin: 0 0 15px;
        font-size: 20px;
        font-family: $futura; font-weight: 900;
        line-height: 1;
    }

    &__text {
        margin: 0;
        font: 14px $futura-book;
    }
}

.info-blocks {
    padding-bottom: 100px;
}

.info-items-wrap {
    margin-top: -40px;

    > div {
        margin-top: 40px;
    }
}

.info-item {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
    &__icon {
        @extend %circle-icon;
        margin-right: 0 !important;
        margin-bottom: 30px;
        overflow: hidden;

        img {
            max-width: 100%;
            width: 100%;
            display: block;
        }
    }

    &__title {
        font-size: 18px;
        font-family: $futura; font-weight: 900;
        margin-bottom: 20px;
        flex: 1;
    }

    .btn {
        max-width: 320px;
        margin: auto;
    }
}

.docs-slider {
    padding: 0 100px;

    .slick-list {
        padding-top: 20px;
        margin-top: -20px;
    }

    .slick-slide {
        a {
            outline: 0 !important;
        }

        img {
            width: 100%;
            height: auto;
            margin: auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25)
        }
        
        p {
            text-align: center;
        }
    }
}

.helper-banner {
    height: 440px;
    background-color: #e5ecfe;

    .container {
        height: 100%;
        position: relative;
        
        > div {
            display: flex;
            align-items: flex-start;
            padding-top: 100px;
            justify-content: space-between;
            height: 100%;
        }
    }

    &__title,
    &__subtitle {
        max-width: 670px;
        font-family: $futura; font-weight: 900;
    }

    &__title {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 18px;
    }

    &__subtitle {
        font-size: 30px;
        // margin-bottom: 60px;
        color: #d64ab8;
    }

    &__img {
        img {
            width: 100%;
            height: auto;
        }
    }

    .btn {
        max-width: 200px;
        width: 100%;
        position: absolute;
        top: 300px;
    }
}

.about-section {
    padding-top: 75px;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        background-color: $blue;
        left: 0;
        right: calc(50% + 15px);
        height: 430px;
    }

    &__img {
        text-align: center;
        height: 430px;
        position: relative;
        float: right;
        margin-bottom: 40px;

        &:before {
            content: '';
            position: absolute;
            width: 365px;
            height: 470px;
            background-color: #e5ecfe;
            left: 35px;
            top: -20px;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            width: 345px;
            height: 450px;
            background-color: #fff;
            left: 45px;
            top: -10px;
            z-index: 2;
        }

        > div:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 470px;
            background-color: #e5ecfe;
            left: 35px;
            top: -20px;
            z-index: 4;
        }

        img {
            display: block;
            width: 100%;
            height: 430px;
            width: 540px;
            position: relative;
            z-index: 3;
            border: 15px solid $blue;;
        }
    }
}

.about-section-pink {
    &:before {
        background-color: #c74a9a;
    }
    .about-section__img {
        img {
            border-color: #c74a9a;
        }
    }
}

.about-section-green {
    position: relative;

    &:before {
        background-color: #2d7753;
    }
    .about-section__img {
        img {
            border-color: #2d7753;
        }
    }
}

.about-section-center {
    padding-bottom: 20px;

    .row {
        align-items: center;
    }
}

.about {
    h1.text {
        font-size: 16px;
        font-weight: 400;
        font-family: $futura-book;
        margin: 0;
    }

    h1 {
        font: 900 20px $futura;
        margin: 0 0 35px;
    }

    &__title {
        font-size: 20px;
        margin: 10px 0 0;
    }

    &__text {
        p {
            line-height: 1.3;
        }

        ul {
            padding-left: 25px;
            text-align: left;

            li {
                display: block;
                padding-left: 25px;
                position: relative;
                line-height: 1.2;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    background-color: #265fbf;
                }
            }
        }
    }

    &__text-big {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 900;
        font-family: $futura;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 900;
        font-family: $futura;

        &:before {
            width: 7px;
            height: 11px;
            margin-right: 9px;
            content: '';
            display: inline-block;
            background: url('../img/icons/arrow-blue.png') no-repeat center;
        }
    }
}

.about__images {
    padding: 30px 0 50px;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: calc(50% + 560px);
        height: 3px;
        bottom: 65px;
        background-color: #c74a9a;
    }

    ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        background-color: #e5ecfe;
        padding: 40px 40px 20px;
        margin: 0 auto;

        li {
            width: calc(100%/3 - 20px);
            margin-right: 30px;
            margin-bottom: 20px;

            &:nth-child(3n) {
                margin-right: 0;
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }
}

.categories {
    background-color: #f6f6f6;
    position: absolute;
    z-index: 9991;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.12), 
    0 9px 46px 0 rgba(0,0,0,.06);
    
    &.opened {
        transition: .1s transform ease-out;
        visibility: visible;
        opacity: 1;
        transform: translateY(0)
    }

    &__list {
        padding: 20px 0;
        min-width: 220px;
    }

    &__items {
        background-color: #ffff;
        padding: 24px 15px 24px 80px;
    }

    .category-items {
        display: none;

        &.active {
            display: block;
        }
    }
}

.categories-list,
.category-items {
    @extend %reset-list-style;
}

.categories-list {
    li {
        &.active {
            background-color: #fff;
            
            > a {
                font-weight: 600;
            }
        }
    }

    a {
        font-size: 14px;
        font-weight: 300;
        color: #333333;
        text-decoration: none;
        display: block;
        line-height: 1;
        padding: 7px 14px;
        outline: 0;
    }
}

.category-items {
    li {
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            width: 5px;
            height: 9px;
            display: inline-block;
            margin-right: 12px;
            background: url('../img/icons/arrow-pink.png') no-repeat center;
        }
    }

    a {
        font-size: 14px;
        font-weight: 300;
        color: #333333;
        line-height: 1;
        padding: 4px 0;
        text-decoration: none;
        outline: 0;
        display: block;
        flex: 1;

        &:hover {
            font-weight: 600;
        }
    }
}

.breadcrumbs-wrap {
    padding: 16px 0;
}

.filter-btn {
    display: none;
}

.filter-group {
    &__header {
        font: 900 18px $futura;
        line-height: 1;
        margin-bottom: 20px;
    }
}

.goods-filters {
    .filter-buttons {
        display: none;
        justify-content: space-between;
    }

    &__list {
        overflow: auto;
        height: calc(100% - 100px);
        margin-top: 20px;
    }

    &.opened {
        .goods-filters__inner {
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: block;
            z-index: 9993;
            position: fixed;
            background: #fff;
            padding: 10px 20px;
        }

        .filter-group {
            margin-bottom: 30px;

            &__header {
                position: sticky;
                top: 0;
                z-index: 1;
                background: #fff;
            }
        }
    }

    &__submit {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        background: #fff;
        left: 0;
        display: none;
    }
}

.checkbox-title {
    display: block;
    font-size: 14px;
    font-family: $futura;
    font-weight: 900;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.checkbox-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;

    li {
        margin-bottom: 14px;
    }

    .checkbox {
        display: block;

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &.flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.flex-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        li {
            width: calc(100%/3 - 10px);
            margin-right: 15px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

.banner {
    background-image: url('../img/banner-pattern.png');
    background-position: center;
    background-repeat: repeat;
    position: relative;
    padding: 15px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        min-height: 266px;
    }

    &__text {
        font: 900 36px $futura;
        color: #fff;
        line-height: 1;
        max-width: 630px;
        padding: 45px;
        padding-right: 0;
        box-sizing: content-box;
        flex: 1;

        span {
            color: #8d1b43;
        }

        &.text-pink {
            span {
                color: #e940a3;
            }
        }
    }

    &__img {
        max-width: 540px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__logo {
        position: absolute;
        right: 10px;
        bottom: 10px;
        max-width: 140px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.cover-types {
    max-width: 1030px;
    margin: -30px auto 0;

    > div {
        margin-top: 30px;
    }
}

.cover-type {
    display: flex;
    align-items: center;

    &__img {
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebebeb;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 30px;
        overflow: hidden;
    }

    &__descr {
        flex: 1;

        h3 {
            margin: 0;
            font: 900 21px $futura;
            line-height: 1;
            margin-bottom: 7px;
        }

        p {
            margin: 0;
        }
    }
}

.application-section {
    padding-bottom: 50px;
}

.application-more {
    padding-bottom: 50px;

    .banner {
        background-image: url('../img/banner-pattern-2.png');

        &__text {
            max-width: 670px;

            span {
                color: #f29687;
            }
        }

        &__img {
            max-width: 370px;
        }
    }

    &__content {
        margin-top: 30px;

        p {
            display: block;
            margin: 0 auto 20px;
            line-height: 1.2;
            font-size: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.goods-list {
    .goods-card {
        &:not(:last-child) {
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }
}

.goods-card {
    display: flex;
    flex-wrap: wrap;

    &__tare {
        margin-bottom: 10px;

        .select {
            width: 70px;
        }
    }

    &__img {
        max-width: 200px;
        text-align: center;
        padding: 0 20px;
        margin-right: 30px;

        a {
            display: block;
            position: relative;

            &:after {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                visibility: visible;
                content: "";
                transition: opacity .3s;
                opacity: 0;
                background: #fff;
            }
        
            &:hover:after {
                opacity: 0.15;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__right {
        flex: 1;
    }

    &__short-descr {
        color: #8d1b43;
        font: 900 18px $futura;
    }

    &__descr {
        margin: 12px 0 14px;
    }

    &__name {
        font: 900 18px $futura;
        color: #8d1b43;
        text-decoration: none;

        a {
            color: #8d1b43;

            &:hover {
                color: lighten(#8d1b43, 13%);
            }
        }
    }

    &__params {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        dl {
            margin: 0;
            padding: 0;
            flex: 1;

            // &:first-child {
            //     max-width: 210px;
            // }

            // &:last-child {
            //     max-width: 310px;
            // }

            dt {
                font: 900 14px $futura;
                display: block;
                line-height: 1;
                margin-bottom: 4px;

                &:after {
                    content: ':';
                }
            }

            dd {
                margin: 0;
                line-height: 1;
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > div {
            flex: 1;
        }

        .btn {
            max-width: 170px;
            width: 100%;
        }
    }

    &__price {
        color: #da67a3;
        font: 900 25px $futura;
    }

    &__meneger {
        font-size: 14px;

        strong {
            display: block;
            font-weight: 900;
            font-family: $futura;
        }

        span {
            display: block;
            color: #929292;
        }
    }

    &--main {
        .goods-card {
            &__name {
                font-size: 21px;
                color: #333;
            }

            &__descr {
                margin-bottom: 40px;
            }

            &__img {
                max-width: 250px;
            }
        }
    }
}

.goods-service-wrap {
    margin-top: -30px;

    > div {
        margin-top: 30px;
    }
}

.product-hero {
    &__main {
        margin-bottom: 70px;
    }
}

.goods-service {
    background-color: #f6f6f6;
    padding: 22px 0;
    display: flex;
    align-items: center;
    min-height: 280px;

    > .row {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: auto;
    }

    &__title {
        font-size: 30px;
        line-height: 1;
        margin: 0;
        margin-bottom: 30px;
        font-weight: 400;
    }

    &__descr {
        padding-right: 10px;

        p {
            font-size: 18px;
            margin: 15px 0;
            line-height: 1;
        }
    }

    .btn {
        max-width: 200px;
        width: 100%;
    }
}

.warning-info {
    .goods-service {
        &__title {
            color: #8d1b43;
            font: 900 30px $futura;
            margin-bottom: 10px;
        }

    }

    .btn {
        margin-top: 10px;
    }
}

.news {
    .section__title {
        text-align: left;
    }

    &__back-btn {
        margin-bottom: 20px;

        a {
            display: block;
            position: relative;
            width: 35px;
            height: 35px;
            background-color: #e5ecfe;
            border-radius: 50%;

            &:before {
                content: '';
                display: block;
                width: 16px;
                height: 12px;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background-image: url('../img/icons/back-arrow.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__wrapper {
        position: relative;
        padding-right: 530px;
    }

    &__list {
        display: block;
        max-width: 600px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            background-color: #e5ecfe;
            border-radius: $border-radius;
            padding: 20px 30px;
            margin-bottom: 15px;
            -webkit-transition: transform .3s;
            -moz-transition: transform .3s;
            -ms-transition: transform .3s;
            transition: transform .3s;

            &:hover {
                -webkit-transform: translateY(-5px);
                -moz-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                transform: translateY(-5px);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-text {
            display: block;
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 30px;
        }

        &-bot {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    &__link {
        font-weight: 900;
        font-family: $futura;

        &:before {
            width: 7px;
            height: 11px;
            margin-right: 9px;
            content: '';
            display: inline-block;
            background: url('../img/icons/arrow-blue.png') no-repeat center;
        }
    }

    &__date {
        font-size: 16px;
        color: #8896ae;
        line-height: 1.2;
    }

    &__nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 25px;
        border-radius: $border-radius;
        width: 100%;
        max-width: 500px;
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        top: 0;

        &.scroll {
            position: fixed;
            right: calc(50% - 600px);
            top: 30px;
        }

        &.bottom {
            top: auto;
            bottom: 0;
        }

        &-item {
            width: calc(50% - 5px);
            text-align: center;

            a {
                display: inline-block;
                position: relative;

                img {
                    display: block;
                    max-width: 100%;
                    margin: 0 auto 5px;
                }

                p {
                    display: block;
                    margin: 0 auto;
                    font-size: 18px;
                    line-height: 1.2;
                    color: #333333;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: #ffffff;
                    opacity: 0;
                    -webkit-transition: opacity 0.3s;
                    -moz-transition: opacity 0.3s;
                    -ms-transition: opacity 0.3s;
                    transition: opacity 0.3s;
                }
                &:hover:after {
                    opacity: 0.15;
                }
            }
        }
    }

    &__content {
        max-width: 600px;

        img {
            display: block;
            margin-bottom: 20px;
            max-width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            display: block;
            margin: 0 auto 20px;
            line-height: 1.2;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-family: $futura;
                font-weight: 900;
            }
        }
    }
}

.docs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    li {
        width: calc(25% - 15px);
        margin-right: 20px;
        margin-bottom: 40px;
        text-align: center;        

        &:nth-child(4n) {
            margin-right: 0;
        }

        a {
            display: inline-block;
            position: relative;

            &:after {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                visibility: visible;
                content: "";
                transition: opacity .3s;
                opacity: 0;
                background: #fff;
            }
            
            &:hover {
                &:after {
                    opacity: 0.15;
                }
                .name {
                    color: $blue;
                }
            }

            img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }

            .name {
                display: block;
                margin-top: 20px;
                font-size: 21px;
                color: #333333;
                line-height: 1.2;
                transition: color .12s;
            }

            .size {
                display: block;
                margin-top: 10px;
                line-height: 1.2;
                font-size: 16px;
                color: #7c7c7c;
            }
        }
    }
}

.banner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .banner-img {
        display: block;
        width: calc(50% - 15px);
        text-align: center;

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        a {
            display: inline-block;
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #ffffff;
                opacity: 0;
                -webkit-transition: opacity 0.3s;
                -moz-transition: opacity 0.3s;
                -ms-transition: opacity 0.3s;
                transition: opacity 0.3s;
            }

            &:hover:after {
                opacity: 0.15;
            }
        }
    }

    .banner-text {
        display: block;
        width: calc(50% - 15px);

        .title {
            display: block;
            margin: 0 auto 30px;
            font-size: 36px;
            line-height: 1.2;

            a {
                color: #333333;

                &:hover {
                    color: #265fbf;
                }
            }
        }

        .btn {
            display: block;
            max-width: 200px;
        }
    }
}

.preim-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;

    li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 45px 70px;
        background-color: #f6f6f6;
        margin-bottom: 15px;
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        transition: transform 0.3s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }

    &__title {
        display: block;
        width: 200px;
        font-weight: 900;
        font-family: $futura;
        font-size: 23px;
        line-height: 1.2;
    }

    &__text {
        display: block;
        width: calc(100% - 230px);

        p {
            display: block;
            margin: 0 auto 15px;
            font-size: 18px;
            line-height: 1.2;

            &:last-child {
                margin-bottom: 0;
            }

            b {
                font-weight: 900;
                font-family: $futura;
            }
        }
    }
}

.product-features {
    margin-top: -15px;

    .product-feature {
        margin-top: 15px;
    }
}

.product-feature {
    background: #f6f6f6;
    display: flex;
    min-height: 100px;
    padding: 35px 20px;
    transition: transform .3s;

    &:hover {
        transform: translateY(-5px);
    }

    &__name {
        max-width: 270px;
        line-height: 1;
        flex: 1;
        font: 900 23px $futura;
        padding-left: 50px;
        margin-right: 30px;
    }

    &__descr {
        flex: 1;
        font-size: 18px;
    }
}

.product-request {
    &__title {
        font-family: $futura;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 30px;

        h3 {
            font-size: 30px;
            margin: 0 0 20px;
        }

        p {
            font-size: 25px;
            margin: 0;
            color: #d541b6;
        }
    }

    &__form {
        max-width: 270px;

        .contact-form {
            input {
                border-color: transparent;
            }
        }
    }

    &__img {
        max-width: 270px;
        margin: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;

    &--center {
        align-items: center;
        margin: auto;
    }

    input {
        margin-bottom: 10px;
        width: 100%;
    }

    .floating-input {
        width: 100%;
    }

    .btn {
        margin-bottom: 10px;
        width: 100%;
    }

    &__policy {
        font-size: 12px;
        max-width: 200px;

        span {
            line-height: 1;

            &:before {
                width: 24px;
                height: 24px;
            }

            &:after {
                left: 4px;
                top: 6px;
            }
        }
    }
}

.basket {
    background: #e5ecfe;
    padding: 40px 70px;
    margin-bottom: 50px;

    .basket-list {
        margin-bottom: 35px;
    }

    &__summary {
        text-align: center;
        line-height: 1;
        font: 900 20px $futura;

        span {
            color: #ea58a0;
        }
    }
}

.basket-list {
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d3d9e8;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        dl {
            margin: 0;
            padding: 0;

            dt {
                font-size: 14px;
                color: #818181;
                display: block;
                line-height: 1;
                margin-bottom: 12px;

                &:after {
                    content: ':';
                }
            }

            dd {
                display: block;
                line-height: 1;
                margin: 0;
            }
        }

        .product-price {
            font: 900 18px $futura;
        }
    }

    &__remove {
        background: transparent;
        padding: 0;
        width: 24px;
        height: 24px;
        border: none;
        outline: 0;
        cursor: pointer;
        margin-left: 4px;
        color: #adbde4;
        transition: color .2s;

        svg {
            display: block;
            height: 100%;
            overflow: visible;
            position: relative;
            width: 100%;

            path {
                fill: currentColor;
                stroke-width: 0;
            }
        }

        &:hover {
            color: darken(#adbde4, 5%);
        }
    }
}

.city-select + .chosen-container {
    margin-bottom: 10px;
}

.selection-section {
    position: relative;
}

.selection {
    padding-right: 430px;

    &__item {
        position: relative;
        margin-bottom: 45px;
        padding-left: 90px;

        &:last-child {
            margin-bottom: 0;
        }

        &-number {
            position: absolute;
            left: 0;
            top: -25px;
            width: 70px;
            height: 70px;
            border: 2px solid #153c89;
            border-radius: 50%;
            box-sizing: border-box;

            span {
                display: block;
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                font-weight: 900;
                font-family: $futura;
                font-size: 20px;
                color: #153c89;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        &-title {
            display: block;
            margin-bottom: 15px;
            font-size: 24px;
            font-family: $futura;
            font-weight: 900;
            line-height: 1.2;
        }

        &-list {
            padding: 0;
            margin: 0 auto;
            list-style-type: none;
            text-align: left;

            li {
                display: block;
                padding-left: 25px;
                position: relative;
                margin-bottom: 15px;
                line-height: 1.2;
                font-size: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    border-radius: 50%;
                    background-color: #153c89;
                }
            }
        }

        &-form-small {
            width: 100%;
            max-width: 270px;
        }

        input, label {
            width: 100%;
            text-align: left;
        }
    }
}

.selection-fix {
    display: block;
    width: calc(50% - 200px);
    min-width: 400px;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #265fbf;

    &.scroll {
        position: fixed;
        top: 30px;
    }

    &.bottom {
        top: auto;
        bottom: 50px;
    }

    &-wrap {
        width: 100%;
        max-width: 400px;
        padding: 20px 40px 20px 70px;
        box-sizing: border-box;
        background-color: #265fbf;
        position: relative;

        &:before {
            content: '';
            box-sizing: border-box;
            display: block;
            width: calc(100% - 30px);
            height: calc(100% + 30px);
            border: 10px solid #e5ecfe;
            position: absolute;
            left: 30px;
            top: -15px;
            z-index: -1;
        }

        &:after {
            content: '';
            display: block;
            width: 10px;
            height: calc(100% + 30px);
            background-color: #e5ecfe;
            position: absolute;
            right: 0;
            top: -15px;
        }
    }

    &-title {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        color: #ffffff;
        line-height: 1.2;
        font-family: $futura;
        font-weight: 900;
    }

    &-list {
        margin: 0 auto;
        padding: 0;
        list-style-type: none;

        li {
            color: #a2d5ee;
            font-size: 16px;
            line-height: 1.2;

            a {
                color: #ffffff;

                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }

    &-text {
        p {
            display: block;
            color: #ffffff;
            line-height: 1.2;
            margin-bottom: 10px;
            font-size: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-weight: 900;
                font-family: $futura;
            }
        }
    }
}

.table-section {
    &__content {
        max-width: 970px;
        margin: 0 auto;

        h3 {
            display: block;
            font-family: $futura;
            font-weight: 900;
            line-height: 1.2;
            font-size: 16px;
            margin-bottom: 25px;
            margin-top: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            display: block;
            line-height: 1.2;
            font-size: 16px;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-name {
            display: block;
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: #265fbf;
            }
        }

        .table-wrap {
            width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .table {
            width: 970px;

            td, th {
                text-align: center;

                &:first-child {
                    text-align: left;
                }

                span {
                    font-family: 'Futura PT Demi';
                    font-weight: 600;
                }
            }
        }
    }
}

.cooperation {
    &-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-image: url('../img/banner-pattern-8.png');
        background-position: center;
        background-repeat: repeat;
        background-color: #f15500;
    }

    &-text {
        width: calc(55% - 10px);
        padding: 45px;
        padding-right: 0;
        box-sizing: border-box;

        h2 {
            display: block;
            font-family: $futura;
            font-weight: 900;
            color: #ffffff;
            font-size: 36px;
            line-height: 1;
            margin: 0 auto 35px;

            span {
                color: #0c4da1;
            }
        }

        .btn {
            display: block;
            max-width: 200px;
            font-family: $futura-book;
            font-weight: normal;
        }
    }

    &-img {
        width: calc(45% - 10px);

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    &-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;

        li {
            width: calc(50% - 15px);
            margin-bottom: 35px;

            .wrap {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 420px;
                margin: 0 auto;
            }
        }

        &-icon {
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            border: 4px solid #0c4da1;
            position: relative;
            border-radius: 50%;

            img {
                display: block;
                max-width: 70%;
                max-height: 70%;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        &-text {
            width: calc(100% - 125px);
            font-size: 21px;
            line-height: 1.2;
            color: #333333;
            font-weight: 900;
            font-family: $futura;
        }
    }
}

.delivery {
    &__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &-img {
            width: calc(50% - 30px);

            img {
                display: block;
                max-width: 100%;
            }
        }

        &-text {
            width: 50%;
            padding-top: 25px;
            position: relative;
            padding-left: 85px;

            .number {
                position: absolute;
                left: 0;
                top: 0;
                width: 70px;
                height: 70px;
                border: 2px solid #153c89;
                border-radius: 50%;
                box-sizing: border-box;

                span {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-weight: 900;
                    font-family: $futura;
                    font-size: 20px;
                    color: #153c89;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }

            .title {
                display: block;
                margin-bottom: 30px;
                font-family: $futura;
                font-weight: 900;
                font-size: 24px;
                line-height: 1.2;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                display: block;
                font-size: 16px;
                line-height: 1.2;
                margin: 0 auto 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            ul {
                list-style-type: none;
                padding-left: 20px;
                margin: 0 auto 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                li {
                    position: relative;
                    padding-left: 20px;
                    font-size: 16px;
                    line-height: 1.2;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 7px;
                        height: 7px;
                        position: absolute;
                        left: 0;
                        top: 7px;
                        border-radius: 50%;
                        background-color: #0c4da1;
                    }
                }
            }
        }
    }
}

.contacts {
    &-section {
        padding-top: 0;
    }

    &-title {
        text-align: left;
    }

    &__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #cccccc;
        max-width: 830px;
        width: 100%;
        padding-bottom: 15px;
        margin: 0 auto 40px;

        &:last-child {
            margin-bottom: 0;
            border: 0;
        }

        &-title {
            width: 200px;
            font-family: $futura;
            font-weight: 900;
            line-height: 1.2;
            font-size: 20px;
        }

        &-text {
            width: calc(100% - 230px);
            line-height: 1.2;
            font-size: 18px;

            p {
                margin: 0 auto;
            }

            a.phone-a {
                color: #333333;
            }
        }
    }
}

.product-review {
    padding: 20px 15px;

    header {
        margin-bottom: 30px;
    }

    &__video {
        border: #b7b7b7;
    }

    .container > .row > div {
        padding: 0;
    }

    &__diff {
        img {
            display: block;
            width: 100%;
            height: auto;
        }

        .row {
            margin: auto;
        }

        .row > div {
            padding: 0;
        }

        > .row:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.thanks-section {
    background-color: #60bb8f;
    background-position: center;
    background-repeat: repeat;
    background-image: url('../img/banner-pattern-10.png');
}

.thanks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 30px 0;
    height: calc(100vh - 128px);
    box-sizing: border-box;
    text-align: center;

    &-title {
        display: block;
        width: 100%;
        margin: 0 auto 20px;
        color: #ffffff;
        font-family: $futura;
        font-weight: 900;
        line-height: 1.2;
        font-size: 40px;
    }

    p {
        display: block;
        width: 100%;
        margin: 0 auto;
        line-height: 1.2;
        color: #ffffff;
        font-size: 26px;
        line-height: 1.2;
    }
}

.error-section {
    padding: 100px 0;

    .error-title {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        font-family: $futura;
        margin: 0 auto 10px;
        line-height: 1.2;

        span {
            color: #d541b6;
        }
    }

    p {
        display: block;
        font-size: 26px;
        text-align: center;
        line-height: 1.2;
        margin: 0 auto;
    }
}

.policy__content {
    text-align: left;

    h3 {
        display: block;
        font-size: 24px;
        font-family: $futura;
        font-weight: 900;
        margin-top: 40px;
        line-height: 1.2;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        display: block;
        line-height: 1.3;
        margin-top: 15px;
        font-size: 16px;

        &:first-child {
            margin-top: 0;
        }
    }
}

@import "footer";
@import "media";
